* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #70a1ff;
}

body {
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
  background: var(--primary);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 400px;
  /* height: 300px; */
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
}

.container .box form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .box form input,
.container .box form button {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--primary);
}

.container .box form button {
  background: var(--primary);
  border: none;
}

.container .box form input:focus-visible {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}

.container .box .img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  display: none;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in, height 0.1s ease;
}
.container .box .img_container img {
  width: 150px;
  height: 150px;
  padding: 10px 0;
}

.container .box .img_container.show {
  display: flex;
  height: 150px;
  opacity: 1;
  transition: opacity 0.3s ease-in, height 0.1s ease;
}
/* responsive */
@media screen and (max-width: 450px) {
  .container .box {
    width: 300px;
  }
  .container .box h1 {
    font-size: 25px;
  }
  .container .box form input,
  .container .box form button {
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .container .box {
    width: 220px;
  }
  .container .box h1 {
    font-size: 18px;
  }
  .container .box p {
    font-size: 12px;
  }
  .container .box form input,
  .container .box form button {
    font-size: 13px;
    padding: 8px;
  }
}
